body {
    font-family: Arial, sans-serif;
    background-color: black;
}

div {
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
}

#note {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 200px;
    font-size: 18px;
    direction: ltr;
}

.uppercase {
    color: rgb(255, 251, 0);
    /* Set the color for uppercase letters */
}

.lowercase {
    color: rgb(133, 2, 255);
    /* Set the color for lowercase letters */
}

p {
    margin: 0;
}